// COLORS
$color-main1: #42b883;
$color-main2: #34485e;
$color-main1-light: #42b8835b;
$color-blackjack: rgb(255, 174, 0);
$color-lose: rgb(255, 16, 64);
$color-gdark1: #1a1a1a;
$color-gdark2: #242424;
$color-glight1: #484848;
$color-glight2: #636363;
$color-glight3: #909090;
// FONTS
$font-size: 14px;